<tr>
  <td class="has-text-right"><%= RewardIncome.human_attribute_name(:type) %></td>
  <td><%= @reward_income.type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= RewardIncome.human_attribute_name(:amount) %></td>
  <td><%= @reward_income.amount %></td>
</tr>
