<%= form_with theme: 'search', model: AimLog.new do |f| %>
  <div class="fields">
    <%= f.text_field :entity_type %>
    <%= f.text_field :entity_id %>
    <%= f.submit 'Search' %>
  </div>
<% end %>


