<div class="ui attached segment">

<%= form_with theme: 'search', model: AimUser.new do |f| %>
  <div class="fields">
    <%= f.text_field :user_id %>
    <%= f.text_field :ip %>
    <%= f.submit 'Search' %>
  </div>
<% end %>

</div>

