<%= link_to 'Back', admin_aims_path, class: 'section' %>
<div class="section"><%= @aim.name %>(<%= @aim.repeat_type_i18n %>)</div>
<%= link_to 'Users', admin_aim_aim_users_path(@aim), class: 'section' %>
<div class="action section">Entities</div>
