<div data-controller="field" class="field is-horizontal" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :aim_codes %>
  <% else %>
    <label class="field-label is-normal"></label>
  <% end %>
  <div class="field-body">
    <%= ef.text_field :controller_path %>
    <%= ef.text_field :action_name %>
  </div>
  <div class="field has-addons is-flex">
    <i data-action="click->field#add" class="fa-solid fa-plus" style="cursor: pointer"></i>
    <i data-action="click->field#remove" class="fa-solid fa-minus" style="cursor: pointer"></i>
  </div>
</div>
